head, p{font-family:"BiauKai","Times New Roman", Times, serif;}
body
{
	background-color:#FFBD45;
}
div {
	border:2px #ccc solid;border-radius:10px;
    background-color:rgb(247, 235, 235);
    width: 300px;

    border: 25px solid gray ;
    padding: 25px;
    margin: 25px;
	font-size: 32px;
	font-family:"BiauKai","Times New Roman", Times, serif;
}

table, td, th {
    border: 1px solid black;
}
